.logo{
    display: flex;
    align-items: center;
    gap: 50px;
}

/* .logo .icon__container,
.logo .name{
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 700;
} */



.icon__container {
  background: transparent !important;
}

.icon__container img {
  display: block;
  background: transparent !important;
}




.logo .name {
    font-size: 2rem;
    color: var(--color-primary); /* This applies to "Ben" */
    font-weight: 800;
}

.logo .highlight {
    color: white; /* This overrides the color for "vix" */
}


